:root {
    font-family: system-ui;
    color-scheme: light dark;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    background-color: #161616;
    color: #fff;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 32rem;
}

h1 {
    margin: 0;
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 16rem;
}

input,
select {
    background-color: #222;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    flex-grow: 1;
    font-size: 1rem;
}

output {
    text-align: center;
}

footer {
    padding: 1rem;
}

a {
    color: #fff;
    transition: opacity 0.25s;

    &:hover {
        opacity: 75%;
    }
}
